# --- FastAPI & Web ---
fastapi
uvicorn[standard]
jinja2
python-multipart  # For processing HTML form data
bcrypt
jwt
python-jose[cryptography]

# --- RAG Core ---

langchain-tavily
langchain>=0.2.16,<1.0
langchain-google-genai>=1.0.5
langchain-core
langchain-community
tiktoken                  # For token counting

# --- Vector Database Client ---
qdrant-client   # Client library to connect to the Qdrant service

sentence-transformers     # For embedding generation
torch
# --- SQL Database Client ---
asyncpg 
aiosqlite                 # Fast, asynchronous PostgreSQL driver
sqlmodel                  # (Recommended ORM) Based on SQLAlchemy and Pydantic for clean, modern Python DB models
aiosqlite
#psycopg2-binary           # Fallback/standard PostgreSQL driver